@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
.error-section {
  /* background-color: darkblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
  flex-direction: column;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-total > div {
  height: 65vh;
}
.main {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
}
.container{
  height: 500px;
}
.main > h1{
  padding: 1em;
}
.main > div {
  display: flex;
  align-items: center;
  /* width: 50%; */
  /* height: 473px; */
}
.main > div > img {
  width: 350px;
  height: 450px;
  position: relative;
  z-index: 1;
}
.img {
  width: 25%;
}
.error {
  margin: 0.6em;
}
.dark {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #201610;
  /* width: 40%; */
}
h1 {
  color: #201610;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  /* margin: 1em 0; */
  text-align: center;
}
.cards {
  display: flex;
}
/* .card{
    width: 600px;
  } */
.button {
  border: 2px solid #5b3e2e;
  background-color: transparent;
  padding: 0.75em;
}
pre {
  width: 100%;
}
img {
  width: 40px;
}
a {
  color: #201610 !important;
  text-decoration: none;
}
a:hover {
  color: #5b3e2e;
}
li:hover {
  color: #5b3e2e;
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navs {
  display: flex !important;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  flex-direction: row;
 
}
.nav-display {
  display: flex;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
}
.card {
  border: #201610 solid 1px;
  width: 200px !important;
  height: 100px !important ;
}

.logo {
  font-weight: 700;
  font-size: 40px;
}
section {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  /* width: 100vh; */

  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #201610;
}
.all {
  height: 90vh;
  width: 80vw;
  border-radius: 20px;
  background-color: #ffff;
}
.main {
  display: flex;
  height: 40vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #201610;
}
.pg {
  width: 20%;
  color: #201610 !important;
  margin: 1em;
}

.btn-primary {
  background-color: transparent !important;
}
.pad {
  border: #201610 1px solid;
  border-radius: 10px;
  display: flex;
  width: 300px;
  padding: 1em;
  margin: 1em;
  justify-content: center;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
}
.pagination {
  margin: 0 !important;
  display: flex !important;
  overflow: scroll;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: scroll;
  margin: 0 !important;
}
.pag-link {
  padding: 0.5em 1.5em !important;
  border-radius: 1px !important;
}
.btn {
  color: #201610 !important;
  border: #201610 1px solid !important;
  border-radius: 1px !important;
}
.btn:hover {
  background-color: #af9281 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
}
.notice,
.notice1 {
  text-align: center;
  max-width: 70%;
  line-height: 1.5em;
}
.total-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: none;
}
@media screen and (min-width: 700px) {
  .main-total > div {
    height: 70vh;
  }
  .logo {
    display: block;
  }
  .main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }
  .main > h1 {
    width: 50%;
    padding: 1em;
  }
  .main > div {
    width: 50%;
    height: 473px;
  }
  .main > div > img {
    width: 350px;
    height: 450px;
    position: relative;
    z-index: 1;
  }
  section {
    overflow: hidden;
  }
  .pad {
    border-radius: 10px;
    display: flex;
    width: 21% !important;
    padding: 1em;
    margin: 1em;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
  }
  .navs {
    display: contents;
  }
  .title {
    text-transform: capitalize;
  }
  .row,
  .pagination {
    overflow: visible;
    display: flex;
  }
  .pages {
    width: 85%;
  }
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 !important;
  }
  .navs {
    display: flex !important;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
    flex-direction: row;
  }
  .menu {
    display: none;
  }
  .link:hover {
    color: #201610;
  }
  h1 {
    color: #201610;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    /* margin: 1em 0; */
  }
  ul {
    margin: 0;
  }
}
